<!DOCTYPE html>
<html lang="en">
<head>
    <p><a href="/">Главная</a></p>
    {% block title %} {% endblock %}    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Добавление дополнительного статического CSS файла -->

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div>
        {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
    </div>
    <div class = "games">
      {% block content %}{% endblock %}
    </div>
</body>
</html>
