{% extends "base_template.html" %}

{% block title %} <h2>Brain calc</h2> {% endblock %}

<body class="text-center">

    <main class="form-games">
        {% block content %}
        <p class="lead"><strong>{{name}}</strong>, What is the result of the expression? <br>
        You win if u give three correct answers.</p> 

        <form method = "POST" action="checking-brain-calc-game-answer/">
            {% csrf_token %}
            <div class="form-floating">
                <h3><b>Game task: {{num1}} {{operation_type}} {{num2}}</b></h3>
                <p>
                    <label>Введите ответ</label><br>
                    <input class="form-control" id="floatingInput" placeholder="answer" type="text" name="answer" />
                </p>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Продолжить</button>
                <input type="hidden" name="num1" value={{num1}}>
                <input type="hidden" name="num2" value={{num2}}>
                <input type="hidden" name="operation_type" value={{operation_type}}>
                <input type="hidden" name="name" value={{name}}>
            <p>
                <b>Your correct answers:</b> {{rounds}} 
            </p>
        </form>
    </main>
</body>
{% endblock %}


