<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}    
        first_game
        {% endblock %}
    </title>
</head>
<body>
    <p>Answer "yes" if the number is even, otherwise answer "no".</p>


    <form method = "POST" action="checking_game_answer/">
        {% csrf_token %}
        <p>{{num1}}</p>
        <p>
            <label>Введите ответ</label><br>
            <input type="text" name="answer" />
        </p>
        <input type="submit" value="Продолжить">
        <input type="hidden" name="num1" value={{num1}}>
    </form>
</body>
</html>
