{% extends "base_template.html" %}

{% block title %}{% endblock %}
{% block content %}
<body>
    <p class="lead"><h3>Hello, <strong>{{name}}</strong> choose the game:</h3></p>
    <ul class="list-group">
        <li class="list-group-item"><p><a href="/even" class="stretched-link">brain-even</a><br></p></li>
        <li class="list-group-item"><p><a href="/calc" class="stretched-link">brain-calc</a><br></p></li>
        <li class="list-group-item"><p><a href="/gcd" class="stretched-link">brain-gcd</a><br></p></li>
        <li class="list-group-item"><p><a href="/prime" class="stretched-link">brain-prime</a><br></p></li>
        <li class="list-group-item"><p><a href="/progression" class="stretched-link">brain-progression</a></p></li>
    </ul>
    <input type="hidden" name="name" value={{name}}>
</body>
</html>
{% endblock %}



