<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}    
            Game selection
        {% endblock %}
    </title>
</head>
<body>
    <h2>Hello, {{name}}, choose the game:</h2>
    <a href="/first_game">1</a><br>
    <a href="">2</a><br>
    <a href="">3</a><br>
    <a href="">4</a><br>
    <a href="">5</a>
</body>
</html>

